<form method="post" action="{{ path('app_categoria_delete', {'id': categoria.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categoria.id) }}">
    <button class="btn">Delete</button>
</form>
